## Author
Martin Gun

# Data science Tools and ecosystem

**Objectives:**
- List popular languages for Data Science
- Some of the commonly used libraries used by Data Scientists in R include:
- Table of Data Science tools
- Arithmetic expressions in Python.
- Convert minutes to hours

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. Julia

Some of the commonly used libraries used by Data Scientists in R include:

1. ggplot2
2. dplyr
3. caret

|Data Science Tools|
|-|
|1. Jupyter Notebook|
|2. RStudio|
|3. Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [14]:
# This a simple arithmetic expression to mutiply then add integers

x = (3*4)+5

print("Result", x)

Result 17

In [23]:
# This will convert 200 minutes to hours by diving by 60.

hourstominutes = (200/60)

print(" 200 mintues converted to hours are = %.2f" % hourstominutes, "Hours(rounded too 2 Decimal)")

 200 mintues converted to hours are = 3.33 Hours(rounded too 2 Decimal)